.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
beta/
/doc/
/Meta/
.DS_Store
.Rdata
.httr-oauth
.quarto
.secrets
docs
tests/testthat/APNnew
tests/testthat/ap_output
tests/testthat/audiomoth
tests/testthat/chop
