body{
  font-family: Garamond;
  font-size: 10pt;
}
.caption { /* this is for figure captions */
  font-style: italic;
  color: grey;
  margin-top: 4px;
  font-size: 0.9em;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
header-section-number::after {
    content: ".";
}
.dangerbox {
  border: 4px #A19E99;
  padding: 1em;
  margin: 1em;
  padding-left: 50px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  color: #C7641F;
  background-color: #C5E5E9;
}
.didyouknow {
  border: 4px #3F3D56;
  padding: 1em;
  margin: 1em;
  padding-left: 50px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  color: #006400;
  background-color: #E8F1F2;
}
.jargon {
  color: #FF5733;
}
